
<div class="container">
<h1> {{ welcome_name }}! </h1>
<h3>Am I authenticated? {{request.user.is_authenticated}}</h3>
<hr>    
    <ul>
        {% for post in Recipes %}
            
            <li>
                <a href="/recipe/{{ post.id }}/">{{post.title }}</a></li>
                
            </li>
            <br>
            <hr>

            
        {% endfor %}

        <a href="/addauthor/" value="Add Author">Add Author</a> 
        <br>
        <br>
        <a href="/addrecipe/" value="Add Recipe">Add Recipe</a>
    </ul>   
    
    

    </div>
    

 
